# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=1.0.0=pypi_0
astor=0.8.1=pypi_0
bleach=1.5.0=pypi_0
ca-certificates=2021.10.26=hecd8cb5_2
certifi=2020.6.20=pyhd3eb1b0_3
charset-normalizer=2.0.8=pypi_0
click=8.0.3=pypi_0
dataclasses=0.8=pypi_0
flask=2.0.2=pypi_0
gast=0.5.3=pypi_0
grpcio=1.42.0=pypi_0
html5lib=0.9999999=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.8.2=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
jsonpatch=1.32=pypi_0
jsonpointer=2.2=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
markdown=3.3.6=pypi_0
markupsafe=2.0.1=pypi_0
ncurses=6.3=hca72f7f_2
neuralgym=0.0.1=pypi_0
numpy=1.19.5=pypi_0
opencv-python=4.5.4.60=pypi_0
openssl=1.1.1l=h9ed2024_0
pillow=8.4.0=pypi_0
pip=21.2.2=py36hecd8cb5_0
protobuf=3.19.1=pypi_0
python=3.6.13=h88f2d9e_0
python-dotenv=0.19.2=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
readline=8.1=h9ed2024_0
requests=2.26.0=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.5.4=pypi_0
setuptools=58.0.4=py36hecd8cb5_0
six=1.16.0=pypi_0
sklearn=0.0=pypi_0
sqlite=3.36.0=hce871da_0
tensorboard=1.6.0=pypi_0
tensorflow=1.5.0=pypi_0
tensorflow-tensorboard=1.5.1=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.0.0=pypi_0
tk=8.6.11=h7bc2e8c_0
torch=1.10.0=pypi_0
torchfile=0.1.0=pypi_0
torchvision=0.11.1=pypi_0
tornado=6.1=pypi_0
tqdm=4.62.3=pypi_0
typing-extensions=4.0.1=pypi_0
urllib3=1.26.7=pypi_0
visdom=0.1.8.9=pypi_0
websocket-client=1.2.1=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
xz=5.2.5=h1de35cc_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h1de35cc_3
